.sessao-video {
    display: flex;
    margin: 10px;
    flex-flow: row wrap;

}


.sessao-video__yt {
    border-radius: 10px;
    flex: 1 1 600px;
    height: 400px;
}

@media (max-width: 1248px) { 
    .sessao-video__yt {
        
        height: 260px;
    }
}
